* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 50px;
}

.first-div {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.classofdivs {
  display: flex;
  /* flex-direction: column; */
}

p {
  margin-top: 10px;
}

input {
  border-radius: 10px;
  padding: 8px 12px;
  margin-top: 5px;
  box-shadow: grey 2px, 2px, 5px, 5px;
  background: white;
  color: black;
}

#btn {
  background: rgb(235, 57, 57);
  cursor: pointer;
  transition: background-color 1s;
  padding: 10px 12px;
  color: white;
  border-radius: 12px;
  border: 0;
  margin-top: 40px;
}

#btn:hover {
  background: rgb(228, 113, 113);
  color: black;
}
